<section>
    <div class="container comic-strip">
        <div class="align-items-end d-flex justify-content-between comic-title">

            <h3 class="mb-0">
                {{title}}
            </h3>
            <span><i class="fa fa-eye"></i> {{visits}}</span>

        </div>
        <div class="comic-views">
            <div class="btn btn-light" style="float: left;"><a href="/random">Random?</a></div>
            <span class="views">{{day}}/{{month}}/{{year}}</span>
        </div>
        <div class="my-4 comic-image">
            {{#if left}}
            <a href="/{{left}}"><i class="fa fa-chevron-left"></i></a>
            {{/if}}
            <img src="{{img}}" alt="{{alt}}">
            {{#if right}}
            <a href="/{{right}}"><i class="fa fa-chevron-right"></i></a>
            {{/if}}
        </div>
        {{#if transcript}}
        <pre>
            <h6>Transcript:</h6>
            {{transcript}}
        </pre>
        {{/if}}

    </div>

</section>